<img src="../images/python-logo.png" style="height: 100px;" align=left>

# Python Fundamentals Day 3

Welcome to Python Fundamentals Day 3.

So what is on the menu for today? 

We start with reading and writing from files, learn how to transport data objects in the JSON format and how to browse the filesystem.

Then we move to Exception handling. We learn about the different types of Exceptions, what they mean and how to resolve them. Then we learn how to handle Exceptions in our code using the try-except statement.

Last but not least, we learn about Object Oriented Programming including class inheritance and how to define and use your own classes in your coding.

Let's go!

## Table of Contents

- [File I/O](#File-I/O)
    - [Reading and writing lines with open](#Reading-and-writing-lines-with-open)
    - [JSON](#JSON)
    - [File browsing with glob](#File-browsing-with-glob)
    - [Summary](#Summary)
        - [open](#open)
        - [JSON](#JSON)
        - [import](#import)
        - [glob](#glob)
    - [RUN ME](#RUN-ME)
    - [Exercises](#Exercises)
        - [Exercise 1 - Read in stocks](#Exercise-1---Read-in-stocks)
        - [Exercise 2 - First ten names](#Exercise-2---First-ten-names)
        - [Exercise 3 - Inc only](#Exercise-3---Inc-only)
        - [Exercise 4 - Average PE](#Exercise-4---Average-PE)
- [Exception Handling](#Exception-Handling)
    - [Exceptions](#Exceptions)
    - [Try except](#Try-except)
    - [Summary](#Summary)
        - [try except](#try-except)
        - [try except else finally](#try-except-else-finally)
    - [RUN ME](#RUN-ME)
    - [Exercises](#Exercises)
        - [Exercise 1 - Fix it Multiply](#Exercise-1---Fix-it-Multiply)
        - [Exercise 2 - Fix it Numbers](#Exercise-2---Fix-it-Numbers)
        - [Exercise 3 - Fix it Open](#Exercise-3---Fix-it-Open)
        - [Exercise 4 - Try salaries](#Exercise-4---Try-salaries)
- [Object Oriented Programming](#Object-Oriented-Programming)
    - [Summary](#Summary)
        - [class](#class)
    - [RUN ME](#RUN-ME)
    - [Exercises](#Exercises)
        - [Exercise 1 - Get pokemon info](#Exercise-1---Get-pokemon-info)
        - [Exercise 2 - Create a pokemon class](#Exercise-2---Create-a-pokemon-class)
        - [Exercise 3 -  Load all pokemons](#Exercise-3----Load-all-pokemons)
        - [Exercise 4 - Provide insights](#Exercise-4---Provide-insights)

## File I/O

### Reading and writing lines with open

Communicating with files is quite useful in programming.

With the open() built-in function we can read, write and append to files.

First check what is your working directory. You will be able to find the file that we will read and write there.

In [11]:
# MC

%pwd

'/Users/tarun/Downloads/MC/Day 3'

We now create a file object which we will use to write something to file.

In [15]:
help(f.write)

Help on built-in function write:

write(text, /) method of _io.TextIOWrapper instance
    Write string to stream.
    Returns the number of characters written (which is always equal to
    the length of the string).

In [19]:
# MC

f = open('test.txt', 'a')
f.write("Hey!\n")
f.write("Bye Bye!")

8

Now check the file in your folder. Can you see Hey! in test.txt? 

No you cannot. Yet..

In [20]:
# MC

f.close()

Check test.txt again. 

Now it is there.

So it is important to <u>not forget to close</u> the file object.

There is an elegant construct for this. Let's try it.

In [21]:
# MC - a better version

with open('test2.txt', 'w') as f:
    f.write("Hello!")

Check again. Test test2.txt file is there.

So what did we do here?

open() returns a file object and it is commonly used with two arguments: open(file, mode)

- file is a string containing the filename
- mode describes in which way the file will be used: writing, reading, appending.

mode can be:
- `'r'` read (by default)
- `'w'` write
- `'a'` append

Notice the fat-green with as statement. Within the with statement the file object will be available as f. After the statement the file object will be closed.

In [24]:
# MC

with open('test2.txt', 'r') as f:
    print(f.read())

Hello!
Hello!

In [23]:
# MC

with open('test2.txt', 'a') as f:
    f.write("\n")
    f.write("Hello!")

Now we can check the contents of the file using 

!cat -- for Mac / Linux users

!type -- for Windows users

In [27]:
!cat test2.txt

Python_Day3_MC.ipynb test.txt
answers.py           test2.txt

Use **strip()** to remove all whitespace characters from the beginning and the end of the string.

In [28]:
text = """
The names are:

Jeremy
Jan
Akmal
""".strip()

text

'The names are:\n\nJeremy\nJan\nAkmal'

In [32]:
import os
help(os.path.join)

Help on function join in module posixpath:

join(a, *p)
    Join two or more pathname components, inserting '/' as needed.
    If any component is an absolute path, all previous path components
    will be discarded.  An empty last part will result in a path that
    ends with a separator.

In [33]:
# MC

import os
file_names = os.path.join("..","data", "names_raw.txt")
file_names

'../data/names_raw.txt'

The import statement allows you to import libraries which you can use. 

Here we use os.path.join to safely join the paths of the data folder and the names_raw. txt file so that it works for any operating system (Windows/Mac).

You can iterate over the file object and do something **line by line**.

In [37]:
# MC

with open(file_names, 'r') as f:
    for line in f:
        print(line)
    print(f.name)

The names are:



Jeremy

Narjes

Amin
../data/names_raw.txt

Let's say now we want to transform this file into a list of names.

**Question:** How can we transform this into a list of the names?
<br>

Let's parse the contents of this file into a list of names.

In [36]:
dir(f)

['_CHUNK_SIZE',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [41]:
# MC - str.strip()

with open(file_names, 'r') as f:
    lines_list = []
    for line in f:
        lines_list.append(line.strip())
        
lines_list[2:]

['Jeremy', 'Narjes', 'Amin']

### JSON

JSON (JavaScript Object Notation) is an open-standard format that uses human-readable text to transmit data objects consisting of attribute–value pairs. 

It is used often by API's (Application Programming Interface) to communicate data between programs or to commumnicate data between an applications and users.

The notation is almost the same as the dictionary in Python except for:

- JSON: true/false -- Python: True/False
- JSON: null -- Python: None

Here is an example JSON from [wikipedia](https://en.wikipedia.org/wiki/JSON#Data_types.2C_syntax_and_example)

```json
{
  "firstName": "John",
  "lastName": "Smith",
  "isAlive": true,
  "age": 25,
  "address": {
    "streetAddress": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postalCode": "10021-3100"
  },
  "phoneNumbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    },
    {
      "type": "mobile",
      "number": "123 456-7890"
    }
  ],
  "children": [],
  "spouse": null
}
```

First we import the json library to provide us with the functionality.

In [3]:
# MC

import json

We can transform a data object into a **json string** and transform it back.

In [65]:
# Create a dictionary

data = {"name": "Jeremy", 
        "grades": [10, 15], 
        "teacher": True, 
        "complaints": None}
data

{'name': 'Jeremy', 'grades': [10, 15], 'teacher': True, 'complaints': None}

In [66]:
# MC - use dumps to save dict into JSON format

data_json = json.dumps(data)
data_json

'{"name": "Jeremy", "grades": [10, 15], "teacher": true, "complaints": null}'

**Question:** Do you see the difference between a dictionary and a JSON?
<br><br><br>
**Notice the difference in <u>true</u> and <u>null</u>**. Also notice <u>the addidtional quotes at the start and the end as this is a string.</u>

Now we del data. Then load it again from the JSON file.

In [54]:
# MC

del data

In [55]:
# MC - Stay calm

data

NameError: name 'data' is not defined

In [56]:
# MC - use loads() to get JSON into dictionary 

data = json.loads(data_json)
data

{'name': 'Jeremy', 'grades': [10, 15], 'teacher': True, 'complaints': None}

In [67]:
# MC - access the keys of a dictionary

data["grades"]
len(data)

4

Now we can dump and load data from text files that contain json directly.

In [58]:
data = [{'name': 'Jeremy', 'grades': [10, 15], 'teacher': True, 'complaints': None},
        {'name': 'Akmal', 'grades': [3, 4], 'teacher': True, 'complaints': "Many"},
        {'name': 'Jan', 'grades': [8, 13, 20], 'teacher': True, 'complaints': None},
        {'name': 'Heng', 'grades': [5, 5, 5], 'teacher': False, 'complaints': "Many, so many!"}
       ]

In [59]:
# MC

with open('cads.json', 'w') as f:
    json.dump(data, f)

Let's look at the resulting json file using !cat for Mac/Linux and !type for windows

In [64]:
help(json.dumps)

Help on function dumps in module json:

dumps(obj, *, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=None, default=None, sort_keys=False, **kw)
    Serialize ``obj`` to a JSON formatted ``str``.

    If ``skipkeys`` is true then ``dict`` keys that are not basic types
    (``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
    instead of raising a ``TypeError``.

    If ``ensure_ascii`` is false, then the return value can contain non-ASCII
    characters if they appear in strings contained in ``obj``. Otherwise, all
    such characters are escaped in JSON strings.

    If ``check_circular`` is false, then the circular reference check
    for container types will be skipped and a circular reference will
    result in an ``OverflowError`` (or worse).

    If ``allow_nan`` is false, then it will be a ``ValueError`` to
    serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``) in
    strict compliance of the JSON specification, instead of using the
    JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

    If ``indent`` is a non-negative integer, then JSON array elements and
    object members will be pretty-printed with that indent level. An indent
    level of 0 will only insert newlines. ``None`` is the most compact
    representation.

    If specified, ``separators`` should be an ``(item_separator, key_separator)``
    tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
    ``(',', ': ')`` otherwise.  To get the most compact JSON representation,
    you should specify ``(',', ':')`` to eliminate whitespace.

    ``default(obj)`` is a function that should return a serializable version
    of obj or raise TypeError. The default simply raises TypeError.

    If *sort_keys* is true (default: ``False``), then the output of
    dictionaries will be sorted by key.

    To use a custom ``JSONEncoder`` subclass (e.g. one that overrides the
    ``.default()`` method to serialize additional types), specify it with
    the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.

In [1]:
!cat abundent.json

[{"name": "Jeremy", "grades": [10, 15], "teacher": true, "complaints": null}, {"name": "Akmal", "grades": [3, 4], "teacher": true, "complaints": "Many"}, {"name": "Jan", "grades": [8, 13, 20], "teacher": true, "complaints": null}, {"name": "Heng", "grades": [5, 5, 5], "teacher": false, "complaints": "Many, so many!"}]

Now we can load that data back into a dictionary

In [2]:
# MC - try check the type of cads

with open('abundent.json', 'r') as f:
    cads = json.load(f)

cads

NameError: name 'json' is not defined

### File browsing with glob

With glob you can easily list files and folders in a directory

In [73]:
import glob

folder = os.path.join("..", "data", "folders")

for filename in glob.glob('{}/*.txt'.format(folder)):
    print(filename)

../data/folders/base_one_file.txt
../data/folders/base_two_file.txt

And recursively.

In [74]:
import glob

folder = os.path.join("..", "data", "folders")

for filename in glob.glob('{}/**/*.*'.format(folder), recursive=True):
    print(filename)

../data/folders/base_one_file.txt
../data/folders/base_two_file.txt
../data/folders/hello.rtf
../data/folders/folder_2/three_file.txt
../data/folders/folder_3/four_file.txt
../data/folders/folder_3/five_file.txt
../data/folders/folder_1/two_file.txt
../data/folders/folder_1/one_file.txt

You can get the files in a list like this.

In [75]:
help(glob.glob)

Help on function glob in module glob:

glob(pathname, *, recursive=False)
    Return a list of paths matching a pathname pattern.

    The pattern may contain simple shell-style wildcards a la
    fnmatch. However, unlike fnmatch, filenames starting with a
    dot are special cases that are not matched by '*' and '?'
    patterns.

    If recursive is true, the pattern '**' will match any files and
    zero or more directories and subdirectories.

In [76]:
# MC - the output is a list

files = list(glob.glob('{}/**/*.txt'.format(folder), recursive=True))
files

['../data/folders/base_one_file.txt',
 '../data/folders/base_two_file.txt',
 '../data/folders/folder_2/three_file.txt',
 '../data/folders/folder_3/four_file.txt',
 '../data/folders/folder_3/five_file.txt',
 '../data/folders/folder_1/two_file.txt',
 '../data/folders/folder_1/one_file.txt']

### Summary

> #### open
Built-in function to open a file object to read/write/append to a file.
```python
with open('test.txt', 'w') as f:
    f.write("Hello")
with open('test2.txt', 'r') as f:
    data = f.readlines()
with open('test2.txt', 'r') as f:
    f.readline()
    data = []
    for line in f:
        data.append(line)
```

> #### JSON
JSON (JavaScript Object Notation) is an open-standard format that uses human-readable text to transmit data objects consisting of attribute–value pairs. Used often to communicate data with API's.
```python
import json
json.dumps(data)
json.loads(json_str)
with open('data.json', 'w') as f:
    json.dump(data, f)
with open('data.json', 'r') as f:
    data = json.load(f)
```

> #### import
import libraries to use the functionality
```python
import json
import os
```

> #### glob
module that is used for file listing
```python
for filename in glob.glob('{}/*.txt'.format(folder_path)):
    print(filename)
for filename in glob.glob('{}/**/*.txt'.format(folder_path), recursive=True):
    print(filename)
```

### RUN ME

Please run the below code snippet. It is required for running tests for your solution.

In [83]:
import os
classes = []
for objname in dir(os):
    obj = eval("os." + objname)
    if type(obj) is type:
        classes.append(obj)
print(classes)

[<class 'posix.DirEntry'>, <class 'os._wrap_close'>, <class 'OSError'>, <class 'os.stat_result'>, <class 'os.statvfs_result'>, <class 'os.terminal_size'>, <class 'posix.times_result'>, <class 'posix.uname_result'>]

In [84]:
def test(got, expected):
    max_width_print = min([int(79/3), 
                           len(repr(got)) + 10, 
                           len(repr(expected)) + 10])
    
    if got == expected:
        prefix = ' OK '.center(max_width_print, '=')
    else:
        prefix = ' FAIL '.center(max_width_print, '=')
    print(('%s\n     got: %s \nexpected: %s' % (prefix, repr(got), repr(expected))), 
          end = '\n\n')

In [85]:
test('a', 'ab')
test('a', 'a')

==== FAIL ===
     got: 'a'
expected: 'ab'

===== OK ====
     got: 'a'
expected: 'a'

### Exercises

#### Exercise 1 - Read in stocks

Read in stocks data in "data/stocks.json" and store it into stocks.

Each line of this file is a json object, but the whole file content is not a valid json object since the jsons are no separated by a comma and there is no extra brackets surrounding the jsons.

So you need to read the file line by line and transform those strings into dict using json.loads.

Store the dictionaries into stocks.

Hints: import os, os.path.join, import json, json.loads

In [ ]:
## your code
        
# TEST
print("read_in_stocks")
test(len(stocks), 6756)
test(type(stocks[0]), dict)

In [88]:
# MC

import os
import json

stocks_file = os.path.join("..", "data", "stocks.json")
stocks = []

with open(stocks_file, 'r') as f:
    for line in f:
        stocks.append(json.loads(line))
        
# TEST
print("read_in_stocks")
test(len(stocks), 6756)
test(type(stocks[0]), dict)
test(type(stocks[-1]), dict)
stocks[0]

read_in_stocks
===== OK =====
     got: 6756
expected: 6756

========== OK ==========
     got: <class 'dict'>
expected: <class 'dict'>

========== OK ==========
     got: <class 'dict'>
expected: <class 'dict'>

{'_id': {'$oid': '52853800bb1177ca391c17ff'},
 'Ticker': 'A',
 'Profit Margin': 0.137,
 'Institutional Ownership': 0.847,
 'EPS growth past 5 years': 0.158,
 'Total Debt/Equity': 0.56,
 'Current Ratio': 3,
 'Return on Assets': 0.089,
 'Sector': 'Healthcare',
 'P/S': 2.54,
 'Change from Open': -0.0148,
 'Performance (YTD)': 0.2605,
 'Performance (Week)': 0.0031,
 'Quick Ratio': 2.3,
 'Insider Transactions': -0.1352,
 'P/B': 3.63,
 'EPS growth quarter over quarter': -0.29,
 'Payout Ratio': 0.162,
 'Performance (Quarter)': 0.0928,
 'Forward P/E': 16.11,
 'P/E': 19.1,
 '200-Day Simple Moving Average': 0.1062,
 'Shares Outstanding': 339,
 'Earnings Date': {'$date': 1384464600000},
 '52-Week High': -0.0544,
 'P/Cash': 7.45,
 'Change': -0.0148,
 'Analyst Recom': 1.6,
 'Volatility (Week)': 0.0177,
 'Country': 'USA',
 'Return on Equity': 0.182,
 '50-Day Low': 0.0728,
 'Price': 50.44,
 '50-Day High': -0.0544,
 'Return on Investment': 0.163,
 'Shares Float': 330.21,
 'Dividend Yield': 0.0094,
 'EPS growth next 5 years': 0.0843,
 'Industry': 'Medical Laboratories & Research',
 'Beta': 1.5,
 'Sales growth quarter over quarter': -0.041,
 'Operating Margin': 0.187,
 'EPS (ttm)': 2.68,
 'PEG': 2.27,
 'Float Short': 0.008,
 '52-Week Low': 0.4378,
 'Average True Range': 0.86,
 'EPS growth next year': 0.1194,
 'Sales growth past 5 years': 0.048,
 'Company': 'Agilent Technologies Inc.',
 'Gap': 0,
 'Relative Volume': 0.79,
 'Volatility (Month)': 0.0168,
 'Market Cap': 17356.8,
 'Volume': 1847978,
 'Gross Margin': 0.512,
 'Short Ratio': 1.03,
 'Performance (Half Year)': 0.1439,
 'Relative Strength Index (14)': 46.51,
 'Insider Ownership': 0.001,
 '20-Day Simple Moving Average': -0.0172,
 'Performance (Month)': 0.0063,
 'P/Free Cash Flow': 19.63,
 'Institutional Transactions': -0.0074,
 'Performance (Year)': 0.4242,
 'LT Debt/Equity': 0.56,
 'Average Volume': 2569.36,
 'EPS growth this year': 0.147,
 '50-Day Simple Moving Average': -0.0055}

In [89]:
# MC
# or 

import os
import json

stocks_file = os.path.join("..", "data", "stocks.json")

with open(stocks_file, 'r') as f:
    stocks = [json.loads(line) for line in f]
        
# TEST
print("read_in_stocks")
test(len(stocks), 6756)
test(type(stocks[0]), dict)
test(type(stocks[-1]), dict)

read_in_stocks
===== OK =====
     got: 6756
expected: 6756

========== OK ==========
     got: <class 'dict'>
expected: <class 'dict'>

========== OK ==========
     got: <class 'dict'>
expected: <class 'dict'>

#### Exercise 2 - First ten names

What are the names of the first ten companies?

Hints: inspect one dict to see which key contains the name.

In [90]:
names = ### your code here

# TEST
print("first_ten_names")
from answers import ten_companies
test(names, ten_companies)

first_ten_names
=========== OK ===========
     got: ['Agilent Technologies Inc.', 'Alcoa, Inc.', 'WCM/BNY Mellon Focused Growth ADR ETF', 'iShares MSCI AC Asia Information Tech', 'Altisource Asset Management Corporation', 'Atlantic American Corp.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']
expected: ['Agilent Technologies Inc.', 'Alcoa, Inc.', 'WCM/BNY Mellon Focused Growth ADR ETF', 'iShares MSCI AC Asia Information Tech', 'Altisource Asset Management Corporation', 'Atlantic American Corp.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']

In [92]:
# MC

names = [stock["Company"] for stock in stocks[:10] ]

# TEST
print("first_ten_names")
print(names)

from answers import ten_companies
test(names, ten_companies)

first_ten_names
['Agilent Technologies Inc.', 'Alcoa, Inc.', 'WCM/BNY Mellon Focused Growth ADR ETF', 'iShares MSCI AC Asia Information Tech', 'Altisource Asset Management Corporation', 'Atlantic American Corp.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']
=========== OK ===========
     got: ['Agilent Technologies Inc.', 'Alcoa, Inc.', 'WCM/BNY Mellon Focused Growth ADR ETF', 'iShares MSCI AC Asia Information Tech', 'Altisource Asset Management Corporation', 'Atlantic American Corp.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']
expected: ['Agilent Technologies Inc.', 'Alcoa, Inc.', 'WCM/BNY Mellon Focused Growth ADR ETF', 'iShares MSCI AC Asia Information Tech', 'Altisource Asset Management Corporation', 'Atlantic American Corp.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']

#### Exercise 3 - Inc only

From the top 10 companies, now only show the names that contain the word 'Inc.'

In [ ]:
names = ## your code

# TEST
from answers import inc_companies
print("inc_only")
test(names, inc_companies)

In [93]:
# MC

names = [n for n in names if 'Inc.' in n]

# TEST
from answers import inc_companies
print("inc_only")
test(names, inc_companies)

inc_only
=========== OK ===========
     got: ['Agilent Technologies Inc.', 'Alcoa, Inc.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']
expected: ['Agilent Technologies Inc.', 'Alcoa, Inc.', "Aaron's, Inc.", 'Applied Optoelectronics, Inc.', 'AAON Inc.', 'Advance Auto Parts Inc.']

#### Exercise 4 - Average PE

Now show the average P/E for all the data. Round it by 2.

<u>Not all the stocks have the P/E reported</u>, so you need to handle that. 

What percentage of the stocks has P/E reported? Round it by 2.

In [94]:
stocks[0]['Ticker']

'A'

In [98]:
s_pe = [s['P/E'] for s in stocks if 'P/E' in s]
s_pe[:10]

[19.1, 35.96, 10.63, 17.11, 34.78, 18.03, 13.14, 640, 8.5, 15.82]

In [ ]:
## your code

pe =  
avg_pe = ## your code
perc_with_pe = ## your code

# TEST
print("average_pe")
test(avg_pe, 41.71)
test(perc_with_pe, 0.5)

In [ ]:
# MC

pe = [s['P/E'] for s in stocks if 'P/E' in s]     # not all stock has 'P/E'
avg_pe = round(sum(pe) / len(pe), 2)
perc_with_pe = round(len(pe) / len(stocks), 2)

# TEST
print("average_pe")
test(avg_pe, 41.71)
test(perc_with_pe, 0.5)

## Exception Handling

### Exceptions

Here is an example Exception.

In [1]:
while False:
    print('Hello world')

- Arrow ^ pointing at the earliest point in the line where the error was detected
- The error is caused by the token preceding the arrow
- File name and line number are printed

There are different types of Exceptions.

Previous one was SyntaxError, other built-in exception types include:
- ZeroDivisionError -- division by zero
- NameError -- name not defined
- TypeError -- incorrect type
- KeyError -- key not found in dict
- IndexError -- index greater than length in list

The last line of the error message indicates what happened. Let's go over them.
Find more information [here](https://docs.python.org/3/library/exceptions.html).

In [2]:
10 * (1/0)

ZeroDivisionError: division by zero

In [3]:
4 + result*3

NameError: name 'result' is not defined

In [4]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [5]:
d = {}
d[0]

KeyError: 0

In [6]:
l = []
l[0]

IndexError: list index out of range

The preceding part of the error message shows the context where the exception happened.

It contains a stack traceback listing source lines.

Here is an example.

In [7]:
def divide(x, y):
    return x/y

def call_divide(x, y):
    return divide(x, y)

def f(x, y):
    return call_divide(x, y)

f(1, 0)

ZeroDivisionError: division by zero

**Question:** What has caused the Error?
<br><br><br><br>  
**Answer:** We cannot divide by zero! 1/0 gives an Exception.

### Try except

Sometimes exceptions are expected to happen and we want our code to handle those exceptions in a certain way. For this there is the try except statement.

Let's try these inputs.

- typing a number
- typing a non-numeric string
- typing a zero
- ending the cell by intterupting the kernel

In [8]:
try:
    print(var)
except:
    print("An exception occurred")

An exception occurred

In [9]:
x = [1,3,6,4,7,"6", 9,"5"]

try:
    print(sum(x))
except:
     print("There was An exception.")

There was An exception.

In [11]:
try:
    x = float(input("Please enter a number: "))
    print("inverse is:",  1/x)
except:
    print("Oops!  That was no valid number.")

Please enter a number:  0

Oops!  That was no valid number.

The try statement.

1. the __try clause__ (block under try:) is executed
1. if __no exception__ occurs, __except clause is skipped__
1. if __an exception occurs__, the rest of the try clause is skipped,
    - and __the first except__ clause matching the exception __is executed__,
    - if __no handler__ is found, execution stops, an error __Traceback is displayed__.
    
In this case we have used a bare except statement. This means all exception are catched including the KeyboardInterrupt.

You can specifiy which exception you want to be catched and you want to handle them.

Let's try typing an number, a non-numeric number, a zero and a keyboardintterup again.

The **raise** statement allows the programmer to force a specified exception to occur. For example:
<br>
raise NameError('HiThere')

In [31]:
try:
    x = float(input("Please enter a number: "))
    print("inverse is:",  1/x)
    if x == 5:
        raise KeyError("Blah")
except ValueError:
    print("Oops!  That was no valid number.  Try again...")
except ZeroDivisionError:
    print("Oops! Cannot divide by 0!")
except BaseException as error:
    print("Error: {}".format(error))

Please enter a number:  5

inverse is: 0.2
Error: 'Blah'

else and finally are usefull to define clean-up action.
- ```else``` statements are executed __only if__ no exceptions occur in ```try``` block.
- ```finally``` statements are __always__ executed.

else clause avoids accidentally catching an exception.

In [26]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    except:
        print("Yipes!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")
        
divide(2,0)

division by zero!
executing finally clause

In [24]:
divide(2,1)

result is 2.0
executing finally clause

In [27]:
divide("a","b")

Yipes!
executing finally clause

Let's do another case.

In [33]:
total = 0
numbers = [1,2,3,"a", "b", "c", 5, 6, 7]

for number in numbers:
    total += number
    
total

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

We cannot add up strings to a number.

If we want to have the total of the numbers in the list we can ignore the strings.

In [29]:
# MC - handel the Exception

total = 0

for number in numbers:
    try:
        total += number
    except: 
        print("Something went wrong")
    
total

Something went wrong
Something went wrong
Something went wrong

24

In [30]:
# MC

total = 0

for number in numbers:
    try:
        total += number
    except TypeError  as e:
        print("Error: {}".format(e))
    
total

Error: unsupported operand type(s) for +=: 'int' and 'str'
Error: unsupported operand type(s) for +=: 'int' and 'str'
Error: unsupported operand type(s) for +=: 'int' and 'str'

24

You can use the bare except statement. As long as you are mindful about that it catches all exceptions it's fine. For a script you operate yourself it can be fine.

In [34]:
# MC

total = 0

for number in numbers:
    try:
        total += number
    except:
        pass
total

24

### Summary

> #### try except
If an error is encountered, a try block code execution is stopped and transferred
down to the except block. 
```python
try:
    total += number
except:
    pass
```

> #### try except else finally
In addition to using an except block after the try block, you can also use the
finally block. The code in the finally block will be executed regardless of whether an exception
occurs. The else code is executed in case the try statement was a succes.
```python
try:
    result = x / y
except ZeroDivisionError:
    print("division by zero!")
else:
    print("result is", result)
finally:
    print("executing finally clause")
```

### RUN ME

Please run the below code snippet. It is required for running tests for your solution.

In [10]:
def test(got, expected):
    max_width_print = min([int(79/3), 
                           len(repr(got)) + 10, 
                           len(repr(expected)) + 10])
    
    if got == expected:
        prefix = ' OK '.center(max_width_print, '=')
    else:
        prefix = ' FAIL '.center(max_width_print, '=')
    print(('%s\n     got: %s \nexpected: %s' % (prefix, repr(got), repr(expected))), 
          end = '\n\n')

In [11]:
test('a', 'ab')
test('a', 'a')

==== FAIL ===
     got: 'a'
expected: 'ab'

===== OK ====
     got: 'a'
expected: 'a'

### Exercises

#### Exercise 1 - Fix it Multiply

We want to multiple the values of a and b of the dictionary. 

Can you help?

In [46]:
data = {"a": 10, "b": 20} # pretend some other code generated this data and you don't really know what's inside

error = "Blah"

try:
    answer = data[a] * data["b"] 
except BaseException as error:
    print("key is missing:", error)

# TEST
print("fix_it_1")
test(answer, 200)

key is missing: name 'a' is not defined
fix_it_1
=== FAIL ==
     got: 5
expected: 200

In [ ]:
# MC
# "a" is the key, a is a variable that does not exist
# data not dala

data = {"a": 10, "b": 20}

answer = data["a"] * data["b"]

# TEST
print("fix_it")
test(answer, 200)

#### Exercise 2 - Fix it Numbers

We want to extend numbers with another list and then get the sum. 

Can you help?

In [49]:
numbers = [1,2,3,4]
numbers.extend([5,6,7,8]) # is extend in-place?

try:
    answer = sum(numbers)
except BaseException as error:
    print("something is wrong!", error)

# TEST
print("fix_it_numbers")
test(answer, 36)

fix_it_numbers
==== OK ====
     got: 36
expected: 36

In [ ]:
# MC
# extend is an in-place operation!

numbers = [1,2,3,4]
numbers.extend([5,6,7,8])

answer = sum(numbers)

# TEST
print("fix_it_numbers")
test(answer, 36)

#### Exercise 3 - Fix it Open

We try to read the contents of data/names_raw.txt into a string.

Can you help?

In [2]:
import os

In [54]:
with open(os.path.join("..","data", "names_raw.txt"), 'r') as f:
    content = f.read()
    
# TEST
print("fix_it_open")
test(content, 'The names are:\n\nJeremy\nNarjes\nAmin')

{'a': 10, 'b': 20}
fix_it_open
=========== OK ===========
     got: 'The names are:\n\nJeremy\nNarjes\nAmin'
expected: 'The names are:\n\nJeremy\nNarjes\nAmin'

In [56]:
# MC
# data is a string
# read mode needs to be 'r' for reading

with open(os.path.join("..","data", "names_raw.txt"), 'r') as f:
    content = f.read()

# TEST
print("fix_it_open")
test(content, 'The names are:\n\nJeremy\nNarjes\nAmin')

fix_it_open
=========== OK ===========
     got: 'The names are:\n\nJeremy\nNarjes\nAmin'
expected: 'The names are:\n\nJeremy\nNarjes\nAmin'

#### Exercise 4 - Try salaries

Have a look at the data/salaries.txt file

Load it into a list of dictionaries and use try catch to handle the non-dictionary lines.

In [12]:
salaries = ## your code
        
# TEST
print("try_salaries")
from answers import the_salaries
test(salaries, the_salaries)

SyntaxError: invalid syntax (<ipython-input-12-a83a572599a3>, line 1)

In [13]:
from answers import the_salaries
the_salaries

[{'name': 'John', 'salary': 5000, 'years_employed': 4},
 {'name': 'Lee', 'salary': 4000, 'years_employed': 3},
 {'name': 'Alex', 'salary': 3000, 'years_employed': 7},
 {'name': 'John', 'salary': 3000, 'years_employed': 8},
 {'name': 'Lauren', 'salary': 6000, 'years_employed': 5}]

In [25]:
# MC - remember to make sure the directory is correct - %pwd

import ast

salaries = []

with open(os.path.join("..","data", "salaries.txt"), "r") as f:
    for line in f:
        try:
            salaries.append(ast.literal_eval(line))
        except:
            pass
        

print(salaries)
# TEST
print("try_salaries")
from answers import the_salaries
test(salaries, the_salaries)

[{'name': 'John', 'salary': 5000, 'years_employed': 4}, {'name': 'Lee', 'salary': 4000, 'years_employed': 3}, {'name': 'Alex', 'salary': 3000, 'years_employed': 7}, {'name': 'John', 'salary': 3000, 'years_employed': 8}, {'name': 'Lauren', 'salary': 6000, 'years_employed': 5}]
try_salaries
=========== OK ===========
     got: [{'name': 'John', 'salary': 5000, 'years_employed': 4}, {'name': 'Lee', 'salary': 4000, 'years_employed': 3}, {'name': 'Alex', 'salary': 3000, 'years_employed': 7}, {'name': 'John', 'salary': 3000, 'years_employed': 8}, {'name': 'Lauren', 'salary': 6000, 'years_employed': 5}]
expected: [{'name': 'John', 'salary': 5000, 'years_employed': 4}, {'name': 'Lee', 'salary': 4000, 'years_employed': 3}, {'name': 'Alex', 'salary': 3000, 'years_employed': 7}, {'name': 'John', 'salary': 3000, 'years_employed': 8}, {'name': 'Lauren', 'salary': 6000, 'years_employed': 5}]

## Object Oriented Programming

Object-oriented Programming, or OOP for short, is a programming paradigm in which properties and behaviours are bundled into objects.

We will define a class <u>Student</u>. A class is a blue-print for an object. After defining the class Student there is only one Student class and you can create many Student objects out of that class.

Then we create a child class PythonStudent. The child class inherits all the properties from its parent and has it's own functionalities additionally.

### How to create a class

In [26]:
# MC

class Student:
    
    # Constructor
    def __init__(self, name, grades=[]):
        self.name = name
        self.grades = grades

### Instantiating objects

In [27]:
jeremy = Student("Jeremy", [10,4,5]) # instantiate an object name 'jeremy'

In [28]:
print(jeremy.grades)
print(jeremy.name)

[10, 4, 5]
Jeremy

### Define methods in a class
We will extend this class with an average methods the returns the average grade of the student.

You can copy paste again and add the average function.

In [30]:
# MC

class Student:
    
    def __init__(self, name, grades=[]):
        self.name = name
        self.grades = grades
        
    def __repr__(self):
        return "{}:{}".format(self.name, self.grades)
    
    def average(self):
        return round(sum(self.grades) / len(self.grades), 2)

In [45]:
jeremy = Student("Jeremy", [80,5,10])
jeremy.average()
tarun = PythonStudent("Tarun", [90, 95, 100])
tarun.average()

95.0

In OOP there is the concept of inheritance. You can make a class that is the child of another class.

We will define a class **PythonStudent**.

In [44]:
# MC

class PythonStudent(Student):
    
    def can_program(self):
        return True
    
    def __repr__(self):
        return "{}:{}:{}".format(self.name, self.grades, True)

In [36]:
narjes = PythonStudent("Narjes", [10, 20])
narjes

Narjes:[10, 20]

In [37]:
# MC

narjes.average()

15.0

In [38]:
# MC

narjes.can_program()

True

In [39]:
amin = PythonStudent("Amin", [30,20,15])

In [40]:
students = [jeremy, amin, narjes] # jeremy, amin, narjes are objects.
print(students)

[Jeremy:[80, 5, 10], Amin:[30, 20, 15], Narjes:[10, 20]]

We can filter ONLY the Python students.

In [42]:
# MC

[n for n in students if isinstance(n, PythonStudent)]

[Amin:[30, 20, 15], Narjes:[10, 20]]

In [47]:
print(tarun)
print(jeremy)

Tarun:[90, 95, 100]:True
Jeremy:[80, 5, 10]

Well done!

### Summary

> #### class 
Python is an Object Oriented Programming language (OOP). This means that almost all the code is implemented using a special construct called classes. Programmers use classes to keep related things together. When defining a child class it will inherit the methods from the parent class. 

```python
class Student:
    
    def __init__(self, name, grades=[]):
        self.name = name
        self.grades = grades
    
    def average(self):
        return round(sum(self.grades) / len(self.grades), 2)
    

class PythonStudent(Student):
    
    def can_program(self):
        return True
```

### RUN ME

Please run the below code snippet. It is required for running tests for your solution.

In [48]:
def test(got, expected):
    max_width_print = min([int(79/3), 
                           len(repr(got)) + 10, 
                           len(repr(expected)) + 10])
    
    if got == expected:
        prefix = ' OK '.center(max_width_print, '=')
    else:
        prefix = ' FAIL '.center(max_width_print, '=')
    print(('%s\n     got: %s \nexpected: %s' % (prefix, repr(got), repr(expected))), 
          end = '\n\n')

In [49]:
test('a', 'ab')
test('a', 'a')

==== FAIL ===
     got: 'a'
expected: 'ab'

===== OK ====
     got: 'a'
expected: 'a'

### Exercises

The CEO of your company happens to have a kid who is totally into Pokemon! For this reason he is very interested in finding out more about these Pokemon for himself. The thing is.. all these Pokemons are hidden away in files and spread out over different continents and countries folders. Oh no, what a bummer.

Ambitious as you are and on the verge of locking down that next promotion you walk in and say: 

> _"Calm down, I have just finished my Python-Fundamentals course, let me handle this."_

Use your Python skills in browsing folder structure, lists, dictionaries, reading from csv and writing to Excel to provide those insights and totally save the day!

Have a look the the pokeworld folder inside the data folder.

The folder structure is like this: <u>continent/country/pokemon.txt</u>

Each file represents a pokemon and inside the file is the description.

#### Exercise 1 - Get pokemon info

Get the continent, country, name and description for the pokemon in pokeworld/Asia/Malaysia/Wooper.txt

Hints: help(str.split), with open()

In [56]:
import os
pokefile = os.path.join("..","data", "pokeworld","Asia","Malaysia","Wooper.txt")
pokefile

'../data/pokeworld/Asia/Malaysia/Wooper.txt'

In [55]:
# MC

lst = pokefile.split("/")
lst[-1].split('.')[0]

'Wooper'

In [ ]:
# MC

continent = ## your code
country = ## your code
name = ## your code
description = ## your code

# TEST
print("get_pokemon_info")

from answers import wooper_desc
test(continent, 'Asia')
test(country, 'Malaysia')
test(name, 'Wooper')
test(description, wooper_desc)

In [57]:
# MC

continent = pokefile.split("/")[-3]
country = pokefile.split("/")[-2]
name = pokefile.split("/")[-1].split(".")[0]

# this is for later test(description, wooper_desc) purpose
with open(pokefile, 'r') as f:
    description = f.read()

# TEST
print("get_pokemon_info")

from answers import wooper_desc

test(continent, 'Asia')
test(country, 'Malaysia')
test(name, 'Wooper')
test(description, wooper_desc)

get_pokemon_info
====== OK ======
     got: 'Asia'
expected: 'Asia'

======== OK ========
     got: 'Malaysia'
expected: 'Malaysia'

======= OK =======
     got: 'Wooper'
expected: 'Wooper'

=========== OK ===========
     got: 'Wooper usually lives in water. However, it occasionally comes\nout onto land in search of food. On land, it coats its body with\na gooey, toxic film.'
expected: 'Wooper usually lives in water. However, it occasionally comes\nout onto land in search of food. On land, it coats its body with\na gooey, toxic film.'

#### Exercise 2 - Create a pokemon class

Create a pokemon class which has three methods:
- \_\_init\_\_(self, pokefile) -- assign self.name, self.continent, self.country and self.description with contents from the file
- \_\_repr\_\_(self) -- represent a pokemon like 'Wooper from Malaysia, Asia'
- is_big_data(self) -- if there is 'Apache' or 'Hadoop' in self.description return True

In [58]:
## your code here
    
# TEST
print("create_pokemon_class")
pokefile = os.path.join("..","data", "pokeworld/Asia/Malaysia/Wooper.txt")
pokefile2 = os.path.join("..","data", "pokeworld/Asia/Thailand/Hive.txt")

wooper = Pokemon(pokefile)
hive = Pokemon(pokefile2)

test(wooper.__repr__(), 'Wooper from Malaysia, Asia')
test(hive.__repr__(), 'Hive from Thailand, Asia')
test(wooper.is_big_data(), False)
test(hive.is_big_data(), True)

create_pokemon_class

NameError: name 'Pokemon' is not defined

In [61]:
# MC

class Pokemon():
    
    def __init__(self, pokefile):
        
        self.continent = pokefile.split("/")[-3]
        self.country = pokefile.split("/")[-2]
        self.name = pokefile.split("/")[-1].split(".")[0]

        with open(pokefile, 'r') as f:
            self.description = f.read()
    
    def is_big_data(self):
        return 'Hadoop' in self.description or 'Apache' in self.description
        
    def __repr__(self):
        return "{} from {}, {}".format(self.name, self.country, self.continent)
    
# TEST
print("create_pokemon_class")
pokefile = os.path.join("..","data", "pokeworld","Asia","Malaysia","Wooper.txt")
pokefile2 = os.path.join("..","data", "pokeworld","Asia","Thailand","Hive.txt")

wooper = Pokemon(pokefile)
hive = Pokemon(pokefile2)

test(wooper.__repr__(), 'Wooper from Malaysia, Asia')
test(hive.__repr__(), 'Hive from Thailand, Asia')
test(wooper.is_big_data(), False)
test(hive.is_big_data(), True)

create_pokemon_class
=========== OK ===========
     got: 'Wooper from Malaysia, Asia'
expected: 'Wooper from Malaysia, Asia'

=========== OK ===========
     got: 'Hive from Thailand, Asia'
expected: 'Hive from Thailand, Asia'

====== OK =====
     got: False
expected: False

===== OK =====
     got: True
expected: True

#### Exercise 3 -  Load all pokemons

Now that we have defined the Pokemon class we can make a list of all the pokemon.

Hints: glob.glob, Pokemon(pokefile)

In [ ]:
## your code here

pokemons = ## your code here

# TEST
print("load_all_pokemons")
test(len(pokemons), 750)
test(type(pokemons[0]), Pokemon)

In [62]:
# MC
import glob
import os

folder = os.path.join("..","data", "pokeworld")
pokefiles = glob.glob('{}/**/*.txt'.format(folder), recursive=True)
pokemons = [Pokemon(f) for f in pokefiles] # remember that 'Pokemon' is a class defined above.

# TEST
print("load_all_pokemons")
test(len(pokemons), 750)  # pokemons is a list of 750 objects
test(type(pokemons[0]), Pokemon) # check if the first item in 'pokemons' has the same characteristics as Pokemon class

load_all_pokemons
==== FAIL ===
     got: 293
expected: 750

=========== OK ===========
     got: <class '__main__.Pokemon'>
expected: <class '__main__.Pokemon'>

#### Exercise 4 - Provide insights

Now that we have a list of pokemon, let's answer some questions!

1. In which country is Pikachu?
2. How many pokemons in Malaysia?
3. How many pokemons in Asia?
4. Which continent has the most pokemons?
5. Which country has least pokemons?
6. Which countries have bigdata?

4.1 In which country is Pikachu?

In [64]:
# MC

pikachu = [p for p in pokemons if p.name == "Wooper"][0]  # get the first item which is also a pokemon object from the list

pikachu.country

'Malaysia'

4.2 How many pokemons in Malaysia?

In [65]:
# MC

malaysians = [p for p in pokemons if p.country == "Malaysia"] # remember that 'pokemons' are objects

len(malaysians)

45

4.3 How many pokemons in Asia?

In [66]:
# MC

asians = [p for p in pokemons if p.continent == "Asia"]

len(asians)

155

4.4 Which continent has the most pokemons?

Hints: 
- make a dictionary continents for the count
- continents.setdefault
- sorted(continens.items(), key=... , reverse=True)

**setdefault() method returns the value of a key (if the key is in dictionary). If not, it inserts key with a value to the dictionary.**

In [68]:
# MC

continents = {}

for p in pokemons:
    continents.setdefault(p.continent, 0) # if p.continent not found, insert 0
    continents[p.continent] += 1

sorted(continents.items(), key=lambda x: x[-1], reverse=True)[0]

[('Asia', 155), ('Europe', 118), ('Middle-East', 20)]

4.5 Which country has the least pokemon?

In [69]:
# MC

countries = {}

for p in pokemons:
    countries.setdefault(p.country, 0)
    countries[p.country] +=1
    
sorted(countries.items(), key=lambda x:x[-1])[0]

('Germany', 8)

4.6 Which countries have big data?

Hints: set() to get unique values of a list.

In [70]:
# MC

bigdata = set([p.country for p in pokemons if p.is_big_data()])
bigdata

{'Germany', 'Japan', 'Thailand', 'The-Netherlands'}

In [71]:
name = "Sukhani, Tarun"
split = name.split(",")
split

['Sukhani', ' Tarun']

# Well done! Congrats on completing Python Fundamentals!